
@{
    ViewBag.Title = "Mağaza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">Biz Sürekli</span>
                        <span class="section-heading-lower">Açığız</span>
                    </h2>
                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Pazar
                            <span class="ml-auto">08:00-22:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Pazartesi
                            <span class="ml-auto">08:00-22:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Salı
                            <span class="ml-auto">08:00-22:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Çarşamba
                            <span class="ml-auto">08:00-22:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Perşembe
                            <span class="ml-auto">08:00-22:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Cuma
                            <span class="ml-auto">08:00-22:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Cumartesi
                            <span class="ml-auto">08:00-22:00</span>
                        </li>
                    </ul>
                    <p class="address mb-5">
                        <em>
                            <strong>1638 Yurtkur Caddesi</strong>
                            <br>
                            Yenişehir, KIRIKKALE
                        </em>
                    </p>
                    <p class="mb-0">
                        <small>
                            <em>Ulaşmak İçin</em>
                        </small>
                        <br>
                        (317) 585-8468
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="~/Content/img/about.jpg" alt="">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Cadde Cafe</span>
                            <span class="section-heading-lower">Cadde Cafe Hakkında</span>
                        </h2>
                        <p>2010 yılından beri sizlere kaliteli bir hizmet vermek üç adet şubemizle sizler için buradayız.</p>
                        <p class="mb-0">
                            İsterseniz self servis ile
                            
                            dilediğiniz zaman kahvenizi alıp dilediğiniz yerde tadını çıkartabilirsiniz.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
